- var footer = page


footer.footer
	.container
	
		// desktop
		.sub-menu
			.f-row

				.cols.col-1-4
					.sub-menu__title Новостройки
					ul.sub-menu__list
						li
							a(href="#") UP-Светлановский
						li
							a(href="#") UP-Комендантский
						li
							a(href="#") UP-Московский
						li
							a(href="#") UP-Пушкинский
						li
							a(href="#") Zoom Apart
						li
							a(href="commerce-1.html") Коммерческие помещения

				.cols.col-1-4
					.sub-menu__title О застройщике
					ul.sub-menu__list
						li
							a(href="company.html") ГК ФСК сегодня
						li
							a(href="#") Рейтинги и награды
						li
							a(href="contacts.html") Контакты
						li
							a(href="vacancy.html") Вакансии
						li
							a(href="docs.html") Документы
						li
							a(href="news.html") Новости

				.cols.col-1-4
					.sub-menu__title Оплата
					ul.sub-menu__list
						li
							a(href="discounts.html") Акции и скидки
						li
							a(href="ipo.html") Ипотека
						li
							a(href="#") Мат. капитал
						li
							a(href="#") Военная ипотека

				.cols.col-1-4
					.sub-menu__title Покупателям 
					ul.sub-menu__list
						li
							a(href="clients.html") Отдел клиентского сервиса
						li
							a.lk-link(href="#") Кабинет покупателя
						li
							a.vk-link(href="#") Мы ВКонтакте
					a.confidence-link(href="confidence.html") Политика конфиденциальности





		// mobile
		.mob-menu
			.footer__logo
				img.img(src="img/svg-logo-gray.svg", alt="FSK")

			ul.mob-menu__list
				li
					a.mob-menu__title(href="newbuild.html") Новостройки 
					//- span.mob-toggle
					//- ul.mob-menu__sublist
					//- 	li
					//- 		a(href="#") UP-Светлановский
					//- 	li
					//- 		a(href="#") UP-Комендантский
					//- 	li
					//- 		a(href="#") UP-Московский
					//- 	li
					//- 		a(href="#") UP-Пушкинский
					//- 	li
					//- 		a(href="#") Zoom Apart
					//- 	li
					//- 		a(href="#") Коммерческие помещения
				li
					a.mob-menu__title(href="discounts.html") Акции и скидки
				li
					a.mob-menu__title(href="ipo.html") Ипотека
				li
					a.mob-menu__title(href="company.html") О застройщике
					//- span.mob-toggle
					//- ul.mob-menu__sublist
					//- 	li
					//- 		a(href="#") ГК ФСК сегодня
					//- 	li
					//- 		a(href="#") Рейтинги и награды
					//- 	li
					//- 		a(href="#") Контакты
					//- 	li
					//- 		a(href="vacancy.html") Вакансии
					//- 	li
					//- 		a(href="docs.html") Документы
					//- 	li
					//- 		a(href="news.html") Новости
				li
					a.mob-menu__title(href="client.html") Отдел клиентского сервиса
				//- li
					//- a.mob-menu__title(href="#") Оплата
					//- span.mob-toggle
					//- ul.mob-menu__sublist
					//- 	li
					//- 		a(href="ipo.html") Ипотека
					//- 	li
					//- 		a(href="#") Мат. капитал
					//- 	li
					//- 		a(href="#") Военная ипотека
				//- li
					//- a.mob-menu__title(href="#") Покупателям
					//- span.mob-toggle
					//- ul.mob-menu__sublist
					//- 	li
					//- 		a(href="discounts.html") Акции и скидки
					//- 	li
					//- 		a(href="#") Отдел клиентского сервиса
					//- 	li
					//- 		a.lk-link(href="#") Кабинет покупателя
					//- 	li
					//- 		a.vk-link(href="#") Мы ВКонтакте
				li
					a.mob-link-favourite(href="favourite.html")
						.ic-container
							img.svg(src="img/icons/ic-star.svg", width="22", height="21", alt="Закладки")
						| Избранное
				li.highlighted
					a.sub-contacts__link(href="tel:+78127035555") 
						.ic-container
							img.svg.svg-stroke.btn__ic(src="img/icons/ic-tel.svg", alt="tel", width="12", height="20") 
						| +7 (812) 703-55-55
				li.highlighted
					a.sub-contacts__link(href="mailto:info@fsknw.ru") 
						.ic-container
							img.svg.btn__ic(src="img/icons/ic-envelope.svg", alt="email", width="20", height="15")
						| info@fsknw.ru
				li.highlighted
					a.sub-contacts__link(href="contacts.html")
						.ic-container
							img.svg.btn__ic(src="img/icons/ic-map-pin-sm-accent.svg", alt="geo", width="14", height="19")
						| Большой пр. ПС, д.48
				li.highlighted
					span.sub-contacts__link
						.ic-container
							img.svg.btn__ic(src="img/icons/ic-time.svg", alt="geo", width="19", height="19")
						| 9:00 - 21:00 (Ежедневно)
				li
					a.lk-link.sub-color(href="#") Кабинет покупателя
				li
					a.confidence-link(href="confidence.html") Политика конфиденциальности


		.footer__line
			.contact-links
				a.contact-link(href="tel:+78127035555") 
					.ic-container
						img.svg.svg-stroke.btn__ic(src="img/icons/ic-tel.svg", alt="tel", width="12", height="20") 
					| +7 (812) 703-55-55
				a.contact-link(href="mailto:oks@fsknw.ru") 
					.ic-container
						img.svg.btn__ic(src="img/icons/ic-envelope.svg", alt="email", width="20", height="15")
					| oks@fsknw.ru
				a.contact-link(href="contacts.html")
					.ic-container
						img.svg.btn__ic(src="img/icons/ic-map-pin-sm-accent.svg", alt="geo", width="14", height="19")
					| Большой пр. ПС, д.48
				span.contact-link
					.ic-container
						img.svg.btn__ic(src="img/icons/ic-time.svg", alt="geo", width="19", height="19")
					| 9:00 - 21:00 (Ежедневно)

			button.btn.btn--cta.js-call-callback(type="button") 
				img.svg.btn__ic.ic-tel(src="img/icons/ic-tel.svg", alt="phone", width="12", height="20") 
				| Позвоните мне




		.footer__text
			div
				p Все материалы данного сайта являются объектами авторского права ООО "ФСК Лидер Северо-Запад". Запрещается копирование, распространение или любое другое использование информации и объектов без предварительного согласия. Данный сайт носит исключительно информационный характер и не является публичной офертой, определяемой положениями Статьи 437 ГК РФ. Для получения актуальной информации о наличии и стоимости представленных объектов недвижимости, пожалуйста, обращайтесь к специалистам отдела продаж. Ипотека от Сбербанк (Лицензия №XXX от XX.XX.XX) и еще XX ипотечных программ.
				p © 2015 - 2019. ООО "ФСК Лидер Северо-Запад".
			.footer__logo
				img.img(src="img/svg-logo-gray.svg", alt="FSK")















// Модальная форма обратного звонка
.modal.modal-callback.mfp-hide#modal-callback
	.modal-callback__inner
		.modal-callback__img(style="background-image: url('img/img-callback-girl.jpg')")
		button.close-btn.mfp-close(type="button")
		.modal-callback__col
			.h3.text-bold Нужна консультация специалиста?
			.modal-callback__form
				form(action="#")
					input.input(type="text", name="name", placeholder="Ваше имя", reqiured)
					input.input(type="tel", name="tel", placeholder="Номер телефона", reqiured)
					.text-center
						button.btn.btn--cta(type="submit") 
							img.svg.btn__ic.ic-tel(src="img/icons/ic-tel.svg", alt="phone", width="12", height="20") 
							| Позвоните мне
					p.privacy Отправляя форму, вы подтверждаете своё согласие на 
						a(href="confidence.html", target="_blank") обработку персональных данных

// Модальное окно благодарности
.modal.modal-callback.modal-thanks.mfp-hide#modal-thanks
	.modal-callback__inner
		.modal-callback__img(style="background-image: url('img/img-callback-girl.jpg')")
		.modal-callback__col
			.modal-success__inner
				.modal-success__img
					img.img(src="img/icons/ic-success.svg", alt="alt")
				.h2.modal-success__title Спасибо за Вашу заявку!
				p Наш специалист свяжется с вами в&nbsp;ближайшее время и ответит на все интересующие вас вопросы.
				button.btn.btn--border.success-btn.mfp-close(type="button")
					img.svg.svg-stroke.btn__ic(src="img/icons/ic-tel.svg", width="12", height="20", alt="ic")
					| Отлично, жду!



	




















// Скрипты
// Jquery с облака и замена в случае отсутствия доступа к облаку 
script(
	src="https://code.jquery.com/jquery-3.4.1.min.js", 
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", 
	crossorigin="anonymous"
)
script.
	window.jQuery || document.write('<script src="libs/jquery/jquery-3.4.1.min.js"><\/script>')


case footer
	when "main"
	when "page"
	when "filters"
	when "newbuild"
	when "commerce"
		script(
			src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js",integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=",
			crossorigin="anonymous")
		script(src="libs/jquery.ui.touch-punch.js")
		




script(src="js/scripts.js")



