- var footer = page


footer.footer
	.container
		.sub-menu
			.f-row

				.cols.col-1-4
					.sub-menu__title Новостройки
					ul.sub-menu__list
						li
							a(href="#") UP-Светлановский
						li
							a(href="#") UP-Комендантский
						li
							a(href="#") UP-Московский
						li
							a(href="#") UP-Пушкинский
						li
							a(href="#") Zoom Apart
						li
							a(href="#") Коммерческие помещения
					a.confidence-link(href="confidence.html") Политика конфиденциальности

				.cols.col-1-4
					.sub-menu__title О Компании
					ul.sub-menu__list
						li
							a(href="#") ГК ФСК сегодня
						li
							a(href="#") Рейтинги и награды
						li
							a(href="#") Контакты
						li
							a(href="vacancy.html") Вакансии
						li
							a(href="docs.html") Документы
						li
							a(href="news.html") Новости

				.cols.col-1-4
					.sub-menu__title Оплата
					ul.sub-menu__list
						li
							a(href="ipo.html") Ипотека
						li
							a(href="#") Мат. капитал
						li
							a(href="#") Военная ипотека

					.sub-menu__title Центральный офис
					ul.sub-menu__list
						li
							span Большой пр. ПС, д. 48
						li
							span Тел.: 
							a(href="tel:+78127035555") +7 812 703-55-55
						li
							span E-mail: 
							a(href="mailto:info@anlider.info") info@anlider.info

				.cols.col-1-4
					.sub-menu__title Покупателям 
					ul.sub-menu__list
						li
							a(href="discounts.html") Акции и скидки
						li
							a(href="#") Отдел клиентского сервиса
						li
							a.lk-link(href="#") Кабинет покупателя
						li
							a.vk-link(href="#") Мы ВКонтакте
					.footer__logo
						img.img(src="img/svg-logo-gray.svg", alt="FSK")

		.mob-menu
			.footer__logo
				img.img(src="img/svg-logo-gray.svg", alt="FSK")

			ul.mob-menu__list
				li
					a.mob-menu__title(href="newbuild.html") Новостройки 
					span.mob-toggle
					ul.mob-menu__sublist
						li
							a(href="#") UP-Светлановский
						li
							a(href="#") UP-Комендантский
						li
							a(href="#") UP-Московский
						li
							a(href="#") UP-Пушкинский
						li
							a(href="#") Zoom Apart
						li
							a(href="#") Коммерческие помещения
				li
					a.mob-menu__title(href="company.html") О Компании
					span.mob-toggle
					ul.mob-menu__sublist
						li
							a(href="#") ГК ФСК сегодня
						li
							a(href="#") Рейтинги и награды
						li
							a(href="#") Контакты
						li
							a(href="vacancy.html") Вакансии
						li
							a(href="docs.html") Документы
						li
							a(href="news.html") Новости
				li
					a.mob-menu__title(href="#") Оплата
					span.mob-toggle
					ul.mob-menu__sublist
						li
							a(href="ipo.html") Ипотека
						li
							a(href="#") Мат. капитал
						li
							a(href="#") Военная ипотека
				li
					a.mob-menu__title(href="#") Покупателям
					span.mob-toggle
					ul.mob-menu__sublist
						li
							a(href="discounts.html") Акции и скидки
						li
							a(href="#") Отдел клиентского сервиса
						li
							a.lk-link(href="#") Кабинет покупателя
						li
							a.vk-link(href="#") Мы ВКонтакте
				li
					span.sub-contacts__link
						img.svg.btn__ic(src="img/icons/ic-map-pin-sm-accent.svg", alt="geo", width="13", height="19")
						| Большой пр. ПС, д.48, 1 этаж
				li
					a.sub-contacts__link(href="tel:+78127035555") 
						img.svg.svg-stroke.btn__ic(src="img/icons/ic-tel.svg", alt="tel", width="12", height="20") 
						| +7 (812) 703-55-55
				li
					a.sub-contacts__link(href="mailto:info@fsknw.ru") 
						img.svg.btn__ic(src="img/icons/ic-mail.svg", alt="email", width="33", height="16")
						| info@fsknw.ru
				li
					a.confidence-link(href="confidence.html") Политика конфиденциальности


		.footer__text
			p Все материалы данного сайта являются объектами авторского права ООО "ФСК Лидер Северо-Запад" © 2015 - 2019. Запрещается копирование, распространение или любое другое использование информации и объектов без предварительного согласия. Данный сайт носит исключительно информационный характер и не является публичной офертой, определяемой положениями Статьи 437 ГК РФ. Для получения актуальной информации о наличии и стоимости представленных объектов недвижимости, пожалуйста, обращайтесь к специалистам отдела продаж. Ипотека от Сбербанк (Лицензия №XXX от XX.XX.XX) и еще XX ипотечных программ.





















// Скрипты
// Jquery с облака и замена в случае отсутствия доступа к облаку 
script(
	src="https://code.jquery.com/jquery-3.4.1.min.js", 
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", 
	crossorigin="anonymous"
)
script.
	window.jQuery || document.write('<script src="libs/jquery/jquery-3.4.1.min.js"><\/script>')


case footer
	when "main"
	when "filters"
	when "newbuild"
	when "commerce"
		script(
			src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js",integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=",
			crossorigin="anonymous")
		script(src="libs/jquery.ui.touch-punch.js")
		




script(src="js/scripts.js")



